* {
  margin-bottom: 0 !important;
}
body {
  color: #d4eed1;
  background: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

p {
  font-family: var(--font-merriweather);
}

.FCardShadow {
  transition: 0.3s ease !important;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2),
    0 12px 24px -4px rgba(145, 158, 171, 0.12);
}

.Fshadow {
  transition: 0.3s ease !important;
  box-shadow: 0px 6px 15px rgba(255, 167, 38, 0.5) !important;
}
.Fshadow:hover {
  box-shadow: none !important;
}

.button {
  background-color: #000000 !important;
  color: #fff !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}
.button:hover {
  background-color: #e69622 !important;
  color: #fff !important;
  border: 1px solid #e69622 !important;
}

.ant-card-body {
  padding: 0 !important;
}
.ant-form-item-label {
  padding-bottom: 3px;
  text-transform: capitalize;
}

.ant-picker:focus {
  box-shadow: none !important;
  text-shadow: none !important;
}

.slick-arrow.slick-prev {
  padding: 27px;
  margin-left: -35px;
  background: #fff;
  opacity: 80;
  border-radius: 100%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 18px 0 30px rgba(0, 0, 0, 0.5) !important;
}

.slick-arrow.slick-prev::after {
  top: 40%;
  left: 42%;
  width: 13px;
  height: 13px;
}
.slick-arrow.slick-next {
  padding: 27px;
  margin-right: -35px;
  background: #fff;
  opacity: 80;
  border-radius: 100%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -18px 0 30px rgba(0, 0, 0, 0.5) !important;
}

.slick-arrow.slick-next::after {
  top: 40%;
  left: 35%;
  width: 13px;
  height: 13px;
}

.headerBorder {
  border-bottom: 1px solid #edebeb;
}
/* Import Ant Design reset first to avoid conflicts */
/* @import "antd/dist/reset.css"; */

/* Tailwind base, components, and utilities */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
